@model PagedResult<EcertApp.Models.Category>
@{
    ViewData["Title"] = "Categories";
    var Categories = ViewBag.Categories;
}

<div class="row">
   
    <br/>
    <div class="col-md-12">
        <div class="card white-box p-0">
            <div class="card-heading">
                <h3 class="box-title mb-0">Recent Categories</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 1; }
                            @foreach (var category in Model.Results)
                            {
                                <tr>
                                    <td>@category.CategoryId</td>
                                    <td>@category.Name</td>
                                    <td>@category.CategoryCode</td>
                                    <td>@category.IsActive</td>
                                    <td>
                                        <a asp-action="GetCategory" asp-route-id="@category.CategoryId">
                                            <img src="/eye.png" />
                                        </a>
                                    </td>

                                    <td>
                                        <a asp-action="GetCategory" asp-route-id="@category.CategoryId">
                                            <img src="/edit.png" />
                                        </a>
                                    </td>
                                    <td>
                                        <form asp-action="DeleteCategory" method="post">
                                            <input type="hidden" value="@category.CategoryId" name="CategoryId" />
                                            <input type="image" src="/remove.png" />
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a asp-action="CreateCategory" class="btn btn-sm btn-secondary">Add</a>
                    <br/>
                    <br/>
                    @(await Component.InvokeAsync<PagerViewComponent>(Model))
                </div>
            </div>
        </div>
    </div>
</div>

